# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/content/ @bqi343
/solutions/ @bqi343
/content/1_General/ @bqi343
/solutions/general/ @bqi343
/content/2_Bronze/ @SansPapyrus683 @ryanchou-dev
/solutions/bronze/ @SansPapyrus683 @ryanchou-dev
/content/3_Silver/ @SansPapyrus683 @ryanchou-dev
/solutions/silver/ @SansPapyrus683 @ryanchou-dev
/content/4_Gold/ @dongliu0426 @envyaims
/solutions/gold/ @dongliu0426 @envyaims
/content/5_Plat/ @dustin-miao @dongliuu
/solutions/platinum/ @dustin-miao @dongliuu
/content/6_Advanced/ @dustin-miao @dongliuu
/solutions/advanced/ @dustin-miao @dongliuu
/content/extraProblems.json @SansPapyrus683 @envyaims
/content/team/ @SansPapyrus683 @ryanchou-dev
