# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/src/ @thecodingwizard
/content/1_General/ @thecodingwizard
/content/2_Bronze/ @darren-yao @maggie-j-liu
/content/3_Silver/ @frodakcin @HarryWangATX @andrewwangva
/content/4_Gold/ @dolphingarlic @dongliu0426
/content/5_Plat/ @dolphingarlic
/content/6_Advanced/ @frodakcin