.assignment-progress-dark div {
  border-color: #6b7280 !important;
}

.assignment-progress-dark .react-grid-Container,
.assignment-progress-dark .react-grid-Main {
  outline-color: #e5e7eb;
}

.assignment-progress-dark .react-grid-Canvas {
  background-color: #374151;
}

.assignment-progress-dark .react-grid-Header,
.assignment-progress-dark .react-grid-HeaderCell {
  background-color: #1f2937;
}

.assignment-progress-dark .react-grid-Row div[value] {
  background-color: #374151;
}
.assignment-progress-dark .react-grid-Row:hover div[value] {
  background-color: #4b5563;
}
.assignment-progress-light .react-grid-Row div[value='✓'] {
  background-color: #bbf7d0 !important; /* tailwind green-200 */
}
.assignment-progress-light .react-grid-Row:hover div[value='✓'] {
  background-color: #dcfce7 !important; /* tailwind green-100 */
}
.assignment-progress-dark .react-grid-Row div[value='✓'] {
  background-color: #065f46 !important; /* tailwind green-700 */
}
.assignment-progress-dark .react-grid-Row:hover div[value='✓'] {
  background-color: #047857 !important; /* tailwind green-500 */
}

.assignment-progress-light .react-grid-Row div[value='IP'] {
  background-color: #fef08a !important;
}
.assignment-progress-light .react-grid-Row:hover div[value='IP'] {
  background-color: #fef9c3 !important;
}
.assignment-progress-dark .react-grid-Row div[value='IP'] {
  background-color: #d97706 !important;
}
.assignment-progress-dark .react-grid-Row:hover div[value='IP'] {
  background-color: #f59e0b !important;
}

.assignment-progress-light .react-grid-Row div[value='-'],
.assignment-progress-light .react-grid-Row div[value='--'] {
  background-color: #bfdbfe !important;
}
.assignment-progress-light .react-grid-Row:hover div[value='-'],
.assignment-progress-light .react-grid-Row:hover div[value='--'] {
  background-color: #dbeafe !important;
}
.assignment-progress-dark .react-grid-Row div[value='-'],
.assignment-progress-dark .react-grid-Row div[value='--'] {
  background-color: #1d4ed8 !important;
}
.assignment-progress-dark .react-grid-Row:hover div[value='-'],
.assignment-progress-dark .react-grid-Row:hover div[value='--'] {
  background-color: #2563eb !important;
}
