@layer components {
  .btn {
    @apply inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 transition-colors;
  }
  .btn:disabled {
    cursor: not-allowed;
    @apply bg-gray-50 text-gray-400;
  }
  .dark .btn {
    @apply border-transparent text-gray-200 bg-gray-800 hover:bg-gray-700 focus:ring-offset-dark-surface;
  }
  .dark .btn:disabled {
    @apply bg-gray-900 text-gray-500;
  }
  .btn-sm {
    @apply px-2 py-1 text-sm;
  }
  .btn-primary {
    @apply inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 disabled:bg-blue-300 dark:disabled:bg-blue-900 dark:disabled:text-white dark:disabled:text-opacity-50 disabled:cursor-not-allowed focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 dark:focus:ring-offset-dark-surface;
  }
  .textarea {
    @apply shadow-sm block w-full focus:ring-blue-500 focus:border-blue-500 sm:text-sm border-gray-300 rounded-md dark:bg-gray-800 dark:border-transparent dark:focus:border-blue-500;
  }
  .input {
    @apply flex-1 block w-full min-w-0 focus:ring-blue-500 focus:border-blue-500 rounded-md shadow-sm sm:text-sm border-gray-300;
  }
  .input:disabled {
    @apply bg-gray-100;
    cursor: not-allowed;
  }
  .dark .input {
    @apply focus:border-blue-500 border-transparent bg-gray-800 placeholder-gray-400;
  }
  .dark .input:disabled {
    @apply bg-gray-800;
  }
}
