@layer components {
  .link-with-progress-container {
    @apply block relative;

    &::after {
      content: '';
      left: 24px;
      top: 18px;
      height: 8px;
      width: 8px;
      position: absolute;
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    }

    &::after {
      border-radius: 100%;
      background-color: var(--dot-and-line-color);
    }

    &::before {
      content: '';
      position: absolute;
      width: 2px;
      display: block;
      left: 27px;
      top: 0;
      bottom: 0;
      background-color: var(--dot-and-line-color);
    }

    &:first-of-type::before {
      top: 22px;
    }

    &:last-of-type::before {
      bottom: calc(100% - 22px);
    }
  }

  .link-with-progress-container--reading {
    --dot-and-line-color: theme('colors.yellow.300');
    --active-text-color: theme('colors.yellow.700');

    .dark & {
      --dot-and-line-color: theme('colors.yellow.400');
      --active-text-color: theme('colors.yellow.400');
    }
  }

  .link-with-progress-container--practicing {
    --dot-and-line-color: theme('colors.orange.400');
    --active-text-color: theme('colors.orange.700');

    .dark & {
      --dot-and-line-color: theme('colors.orange.500');
      --active-text-color: theme('colors.orange.400');
    }
  }

  .link-with-progress-container--complete {
    --dot-and-line-color: theme('colors.green.400');
    --active-text-color: theme('colors.green.700');

    .dark & {
      --dot-and-line-color: theme('colors.green.400');
      --active-text-color: theme('colors.green.400');
    }
  }

  .link-with-progress-container--skipped {
    --dot-and-line-color: theme('colors.blue.300');
    --active-text-color: theme('colors.blue.700');

    .dark & {
      --dot-and-line-color: theme('colors.blue.700');
      --active-text-color: theme('colors.blue.400');
    }
  }

  .link-with-progress-container--active {
    --dot-and-line-color: theme('colors.blue.700');
    --active-text-color: theme('colors.blue.700');

    .dark & {
      --dot-and-line-color: theme('colors.blue.400');
      --active-text-color: theme('colors.blue.400');
    }
  }

  .link-with-progress-container--ignored {
    --dot-and-line-color: theme('colors.gray.100');
    --active-text-color: theme('colors.gray.400');

    .dark & {
      --dot-and-line-color: theme('colors.gray.800');
      --active-text-color: theme('colors.gray.500');
    }
  }

  .link-with-progress-container--default {
    --dot-and-line-color: theme('colors.gray.200');
    --active-text-color: theme('colors.blue.700');

    .dark & {
      --dot-and-line-color: theme('colors.gray.700');
      --active-text-color: theme('colors.blue.400');
    }
  }

  .link-with-progress-link {
    @apply focus:outline-none transition ease-in-out duration-150 hover:text-blue-700;

    color: theme('colors.gray.600');
    .dark & {
      color: theme('colors.dark-med-emphasis');
    }

    .link-with-progress-container--ignored & {
      color: theme('colors.gray.400');
      .dark & {
        color: theme('colors.gray.600');
      }
    }

    &.link-with-progress-link--active {
      color: var(--active-text-color);
    }

    &::before {
      content: '';
      position: absolute;
      transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;

      transform: scale(0);
      border-radius: 100%;
      z-index: 1;

      left: 24px;
      top: 18px;
      height: 8px;
      width: 8px;
    }
    &.link-with-progress-link--syllabus::before {
      left: calc(-1.75rem - 11px);
      @media (min-width: 768px) {
        left: calc(-3rem - 11px); /* -(3rem padding plus half of width) */
      }
      top: calc(1.5rem - 11px); /* half of 1.5rem minus half of height */
      height: 22px;
      width: 22px;
    }

    &:hover {
      &::before {
        transform: scale(1);
        @apply bg-blue-600;
      }
    }

    .dark &:hover {
      &::before {
        @apply bg-gray-400;
      }
    }
  }
}
