/*! purgecss start ignore */
/* Additional vertical padding used by kbd tag. */
.py-05 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.markdown {
  @apply text-gray-900 leading-normal break-words;
}

.markdown > * + * {
  @apply mt-0 mb-4;
}

.markdown li + li {
  @apply mt-1;
}

.markdown li > p + p {
  @apply mt-6;
}

.markdown strong {
  @apply font-semibold;
}

.markdown a {
  @apply text-blue-600 font-semibold;
}

.markdown strong a {
  @apply font-bold;
}

.markdown h1 {
  @apply leading-tight border-b text-4xl font-semibold mb-4 mt-6 pb-2;
}

.markdown h2 {
  @apply leading-tight border-b text-2xl font-semibold mb-4 mt-6 pb-2;
}

.markdown h3 {
  @apply leading-snug text-lg font-semibold mb-4 mt-6;
}

.markdown h4 {
  @apply leading-none text-base font-semibold mb-4 mt-6;
}

.markdown h5 {
  @apply leading-tight text-sm font-semibold mb-4 mt-6;
}

.markdown h6 {
  @apply leading-tight text-sm font-semibold text-gray-600 mb-4 mt-6;
}

.markdown blockquote {
  @apply text-base border-l-4 border-gray-300 pl-4 pr-4 text-gray-600;
}

.markdown code:not([class*='language-']) {
  @apply font-mono text-sm inline bg-gray-200 rounded px-1 py-05;
}

.markdown pre {
  @apply rounded;
}
.markdown pre:not([class*='language-']) {
  @apply bg-gray-100 p-4;
}

.markdown pre:not([class*='language-']) code {
  @apply block bg-transparent p-0 overflow-visible rounded-none;
}

.markdown ul {
  @apply text-base list-disc mb-4;
}

.markdown ul ul {
  list-style-type: circle;
}

.markdown ul ul ul {
  list-style-type: square;
}

.markdown--module ul {
  @apply pl-8;
}

.markdown--syllabus ul {
  @apply pl-5;
}

.markdown p {
  @apply mb-4;
}

.markdown ul ul {
  @apply mb-0;
}

.markdown ul p {
  @apply mb-0;
}

.markdown ol {
  @apply text-base pl-8 list-decimal mb-4;
}

.markdown kbd {
  @apply text-xs inline-block rounded border px-1 py-05 align-middle font-normal font-mono shadow;
}

.markdown table {
  @apply text-base border-gray-600;
}

.markdown th {
  @apply border py-1 px-3;
}

.markdown td {
  @apply border py-1 px-3;
}

/* Override pygments style background color. */
.markdown .highlight pre {
  @apply bg-gray-100 !important;
}

.markdown--module .syllabus-only {
  display: none;
}

.spoiler-body pre {
  margin-left: -1rem !important;
  margin-right: -1rem !important;
  margin-bottom: -1rem !important;
}

.info-block .info-block__heading {
  @apply text-sm leading-5 font-medium text-blue-800 my-0;
}
.info-block .info-block__body {
  @apply text-sm leading-5 text-blue-700 mt-2;
}
.info-block .info-block__body p:last-child {
  @apply mb-0;
}
/*! purgecss end ignore */
