.syllabus-dotted-line-container {
  @apply relative;

  @media (min-width: 768px) {
    &::before {
      content: '';
      position: absolute;
      width: 2px;
      display: block;
      left: calc(50% - 1px);
      top: 0;
      bottom: 0;
      border-right: 2px dashed;
      @apply border-gray-100;
    }
    .dark &::before {
      @apply border-gray-700;
    }
  }
}
