@layer components {
  .syllabus-dotted-line-container {
    @apply relative;

    @media (min-width: 768px) {
      &::before {
        content: '';
        position: absolute;
        width: 2px;
        display: block;
        left: calc(50% - 1px);
        top: 0;
        bottom: 0;
        border-right: 2px dashed;
        @apply border-gray-100;
      }
      .dark &::before {
        @apply border-gray-700;
      }
    }
  }

  .syllabus-module-link-styled-link {
    @apply focus:outline-none transition ease-in-out duration-150 text-gray-800 hover:text-blue-700 text-xl leading-6 py-3;

    &::before {
      content: '';
      left: calc(-1.75rem - 11px);
      @media (min-width: 768px) {
        left: calc(-3rem - 11px); /* -(3rem padding plus half of width) */
      }
      top: calc(1.5rem - 11px); /* half of 1.5rem minus half of height */
      height: 22px;
      width: 22px;
      position: absolute;
      transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;

      transform: scale(0);
      border-radius: 100%;
      z-index: 1;
    }

    &:hover {
      &::before {
        transform: scale(1);
        @apply bg-blue-600;
      }
    }
    .dark &:hover {
      &::before {
        @apply bg-gray-400;
      }
    }
  }
}
