.spoiler--hide > *:not(.spoiler-label) {
    display: none;
}
.spoiler--hide .spoiler-label__open {
    display: none;
}
.spoiler--show .spoiler-label__closed {
    display: none;
}
.spoiler-label {
    margin-bottom: 0 !important;
}