.react-calendar-heatmap .color-empty {
  fill: #eeeeee;
}

.react-calendar-heatmap .color-scale-1 {
  fill: #d6e685;
}

.react-calendar-heatmap .color-scale-2 {
  fill: #8cc665;
}

.react-calendar-heatmap .color-scale-3 {
  fill: #44a340;
}

.react-calendar-heatmap .color-scale-4 {
  fill: #1e6823;
}

.dark .react-calendar-heatmap .color-empty {
  fill: #4b5563;
}

.dark .react-calendar-heatmap .color-scale-1 {
  fill: #166534;
}

.dark .react-calendar-heatmap .color-scale-3 {
  fill: #15803d;
}

.dark .react-calendar-heatmap .color-scale-2 {
  fill: #16a34a;
}

.dark .react-calendar-heatmap .color-scale-4 {
  fill: #22c55e;
}
